.about{
    &__header{
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
    &__us{
        border-top: 1px solid rgba(0,0,0,.1);
        padding: 3em 2em;
        &_content{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__team_heading{
        display: flex;
        padding: 3em 2em;
        align-items: center;
        justify-content: center;
    }
    &__individual{
        display: flex;
        position: relative;
        padding: 2em 4em;
        align-items: center;
        justify-content: center;
        &_image{
            position: relative;
            
            img{
                border-radius: 5px;
                @media (min-width: $mq-xsmall){
                    max-width: 123%;
                }
                @media (min-width: $mq-small){
                    max-width: 100%;
                }
            }
        }
        &_info{
            padding-left: 1em;
            @media (min-width: $mq-xsmall){
                padding-left: 3em;
                h3{
                    font-size: 63%;
                }
                h4{
                    font-size: 40%;
                }
                p{
                    font-size: 0.6em;
                }
            }
            @media (min-width: $mq-small){
                h3{
                    font-size: 100%;
                }
                h4{
                    font-size: 100%;
                }
                p{
                    font-size: 1em;
                }
            }
        }
    }
}