@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
.language{
    &__container{
        
    }
    &__post{
        padding: 2em 1em;
    }
    &__link{
        .wrapper{
            position: relative;
            box-shadow: 0 19px 38px rgba(168, 37, 37, 0.3),0 15px 12px rgba(217, 20, 20, 0.2);
            border-radius: 5px;
            .language_tile{
                margin-bottom: 1em;
                transition: transform 400ms ease-in-out;
                display: flex;
                height: 250px;
                width: auto;
                border-radius: 5px;
                align-items: center;
                justify-content: center;
                &__text{
                    text-shadow: -1px -1px 2px rgb(62, 63, 62);
                    font-family: 'Russo One', sans-serif;
                    font-size: 2.5em;
                    color: #F9F7E8;
                }
            }
        }
        
    }
    
}
