//----------------------------------------------
// Post
//---------------------------------------------- 
$box-shadows: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048),
0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072),
0 41.8px 33.4px rgba(0, 0, 0, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12)
;
.post {

  // .amp-template & {
  //   background-color: $color-white;
  // }

  &__header {
    @extend %text-center;

    // border-bottom: $border;
  }
 .section-padding--double{
  padding: 1em 1em;
 }
 .data-text{
  font-size: 60%;
  font-weight: 700;
 }
  .movie-info-container{
    margin: 0 2em 1em 1em;
    display: grid;
    position: relative;
    grid-template-rows: auto;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "image movie-info" "movie-cast movie-cast" ;
    gap: 0.5em;
    @media (min-width: $mq-small){
      margin-left: 4em;
      grid-template-columns: 1fr 4fr;
      grid-template-rows: 100px 1fr;
      grid-template-areas: 
      "image movie-info" "image movie-data";
    }
    @media (min-width: $mq-med){
      margin-left: 15em;
      grid-template-rows: 200px 1fr;
    }
    @media (min-width: $mq-large){
      margin-left: 15em;
      grid-template-rows: 300px 1fr;
    }
    &__image{
      @media (min-width: $mq-small) {
        grid-area: image;
        align-self: center;
      }
      position: relative;
      align-self: end;
        // height: auto;
        max-height: 290px;
        border-radius: 3px;
        display: inline-block;
        @media (min-width: $mq-large) {
          width: 400px
        }
        @media (min-width: $mq-med) {
          width: 250px
        }
        width: 200px;
        background-color: #393e46;
        // margin: 1em;
        object-fit: fill;
        .border{
          position: absolute;
          border: 1px solid mintcream;
          margin: 0.3em;
          box-shadow: 10px 10px 10px black;
          border-radius: 3px;
          width: 95%;
          height: 96%;
          z-index: 20;
          opacity: 0.4;
        }
        img{
          border-radius: 3px;
          margin: auto;
          
          box-shadow: $box-shadows
        } 
    }
    &__data{
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 
      "one" "two" "three";
      @media (min-width: $mq-small) {
        grid-template-rows: 1fr;
        grid-template-areas: 
        "one";
      }
      .contain-data{
        @media (min-width: $mq-small) {
          grid-area: one;
        }
        align-self: end;
        grid-area: three;
        &__rating{
            background: black;
            width: 26px;
            height: 26px;
            text-align: center;
            border-radius: 2px;
            color: white;
            span{
              margin: 0 auto;
            }
        }
      }

    }
    &__cast{
      margin-top: 0.5em;
      background-color: #eeeeee;
      box-shadow: $box-shadows;
      @media (max-width: $mq-small) {
        grid-column: movie-cast;
      }
      @media (min-width: $mq-small) {
        max-width: 370px;
      }
      grid-column: movie-info;
      display: grid;
      position: relative;
      grid-template-rows: 40px auto ;
      border-radius: 5px;
      .movie-header{
        align-self:center;
        &__bar{
          position: absolute;
          width: 100%;
          height: 20px;
          background-color: #0bbcd6;
        }
        &__text{
          position:absolute;
          padding-left: 0.2em;
          padding-right: 0.2em;
          margin-left: 2em;
          background-color: #eeeeee;
          z-index: 10;
        }
    }
    .movie-data{
      padding-top:0.4em;
      align-self: center;
      line-height: 1.247em;
      padding: .8em 0.4em 0em .9em;
      ul{
        font-size: 99%;
        span{
          color: #888888;
          text-transform: capitalize;
        }
        list-style-type: none;
        li{
          margin-bottom: -0.2em;
          font-size: 0.77em;
        }
      }
    }
    }
  }
 
  &__content {
    border-top: $border;
  }

  &__social {
    @extend %flex-center;
    @extend %no-list-style;

    margin: {
      top: 2em;
      bottom: 0;
      left: 0;
    }

    @media (min-width: $mq-med) {
      margin-top: 3em;
    }

    @media (min-width: $mq-xlarge) {
      margin-top: 4em;
    }

    & > * {
      &:not(:last-child) {
        margin-right: 0.75em;
      }
    }

    a {
      font-size: 1.1em;
      color: $color-darkgrey;
    }
  }

  &__author {
    @extend %font-header;
    @extend %font-size;

    display: block;

    a {
      color: $color-black;
      transition: color 200ms ease-in-out;

      &:hover,
      &:active,
      &:focus {
        color: darken($color-black, 5);
      }
    }
  }

  &__bio {
    @extend %font-size;

    margin-bottom: 0;
  }

  &__comments {
    border-top: $border;
  }
}

//----------------------------------------------
// Jekyll
//---------------------------------------------- 
#markdown {
  display: flex;
  flex-direction: column;
  align-items: center;

  .post-layout &,
  #style-guide & {
    font-family: $font-post;
  }

  & > * {
    min-width: 100%;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.5rem;

    font-family: $font;
  }

  h1 {
    font-size: 2.25em;
    line-height: 1.2;
  }

  h2 {
    font-size: 2em;
    line-height: 1.2;
  }

  h3 {
    font-size: 1.75em;
    line-height: 1.3;
  }

  h4 {
    font-size: 1.5em;
    line-height: 1.3;
  }

  h5 {
    font-size: 1.25em;
    line-height: 1.4;
  }

  h6 {
    font-size: 1.1em;
  }

  h6 + hr {

    #style-guide & {
      margin-top: 1rem;
    }
  }

  p {
    margin-bottom: 1.5rem;

    font-size: 1.1em;

    @media (min-width: $mq-small) {
      font-size: 1.25em;
    }

    img {
      margin-bottom: 0;
    }
  }

  blockquote {
    p {
      margin-bottom: 0;
    }
  }

  a {
    color: $color-black;
    border-bottom: 2px solid $color-grey;
    box-shadow: inset 0 -3px 0 $color-grey;
  }

  hr {
    height: 1px;
    width: 100%;
    margin: {
      top: 0;
      bottom: 1.5rem;
    }

    border: 0;
    background-color: rgba($color-black, 0.1);
  }

  br {
    display: none;
  }

  img {
    display: block;
    margin-bottom: 1.5rem;
  }

  img[src$="#full"] {
    width: 100vw;
    max-width: none;
  }

  .flex-vid {
    margin-bottom: 1.5rem;

    iframe {
      display: block;
    }
  }
}
