---
layout: default
---
<section class="about">
  <div class="about__header">
    <div class="flex_header">
      <h2>{{page.title}}</h2>
    </div>
  </div>
  <div class="about__us">
    <div class="about__us_content">
      {{content}}
    </div>
  </div>
  <div class="about__team_heading">
    <h2>Team</h2>
  </div>
  <div class="about__individual">
    <div class="about__individual_image">
      <img src="/assets/images/BiwashShrestha.jpg" alt="Biwash Damna">
    </div>
    <div class="about__individual_info">
      <div class="about__individual_info_post">
        <h3>Post harayeko manche</h3>
      </div>
      <div class="about__individual_info_email">
        <h4>Findhim@whoknows.com</h4>
      </div>
      <div class="about__individual_info_bio">
        <p>He can find a bug like no other.When he is free he does run some jobs and he is a good cook.</p>
      </div>
    </div>
  </div>
</section>
<!-- <section class="post">
  <div>
    <div class="about__header" style="padding: 0em; padding-left: 0em; font-size: 1.0em;">
      <div class="grid-small"style="padding-right: 85em;">
        <h2>{{ page.title }}</h2>
      </div>
    </div>
  <div class="post__content section-padding">
    <div class="grid">
      <div id="markdown">
        {{content}}
      </div>
    </div>
  </div>
</div>
</section> -->
